@page "/product/{productId:int}"
@inject HttpClient Http

<PageTitle>H+ Sport</PageTitle>

<h1>H+ Sport</h1>

@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">@product.Name</h5>
			<p class="card-text">@product.Price.ToString("C")</p>
			<a href="#" class="btn btn-primary">Add to cart</a>
		</div>
	</div>
}

@code {
	[Parameter]
	public int productId { get; set; }

	private HPlusSport.AzureMigration.Models.Product? product;

	protected override async Task OnInitializedAsync()
	{
		var products = await Http.GetFromJsonAsync<List<HPlusSport.AzureMigration.Models.Product>>("sample-data/products.json");
		if (products != null)
		{
			product = products.Where(p => p.Id == productId).FirstOrDefault();
		}
	}
}
